<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
    .green-box {
      width: 25px; 
      height: 25px; 
      background-color: green;
      border: 1px solid black;
    }
    </style>
</head>
<body>
    <div class="container mt-4">
        <h1>Overall Progress</h1>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Trainee</th>
                    <th scope="col">Attendance</th>
                    <th scope="col">Marks</th>
                    <th scope="col">Assignment</th>
                </tr>
            </thead>
            <tbody>
                {% for username, percentages in overall_data.items %}
                    <tr>
                        <td>{{ username }}</td>
                        <td><div class="green-box" style="opacity: {{ percentages.attendance }};"></div></td>
                        <td><div class="green-box" style="opacity: {{ percentages.marks }};"></div></td>
                        <td><div class="green-box" style="opacity: {{ percentages.assignment }};"></div></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
